In [56]:
data = pd.read_csv('allAnnotatedPairs.txt', sep='\t')

In [57]:
data.shape

(34469, 4)

In [58]:
data.head()

    title1  annotation1                         title2  annotation2
0  Wedding           -1                         Mosque           -1
1  Wedding           -1                 Mass (liturgy)           -1
2  Wedding           -1  Metropolitan Community Church           -1
3  Wedding           -1                      Polyamory            1
4  Wedding           -1                        Judaism           -1

In [59]:
g = data.groupby(('annotation1','annotation2')).count().reset_index().rename(columns={'title1':'count'}).drop(labels='title2', axis=1)

In [60]:
g

   annotation1  annotation2  count
0           -1           -1  18465
1           -1            1   6092
2            1           -1   5083
3            1            1   4829

In [61]:
g['count'].sum()

34469

In [62]:
g[(g.annotation1==1)&(g.annotation2==1)]['count'].values[0]

4829

In [63]:
def chi2(df):
    g = df.groupby(('annotation1','annotation2')).count().reset_index().rename(columns={'title1':'count'}).drop(labels='title2', axis=1)
    s = g['count'].sum()
    a = g[(g.annotation1==1)&(g.annotation2==1)]['count'].values[0]
    b = g[(g.annotation1==1)&(g.annotation2==-1)]['count'].values[0]
    c = g[(g.annotation1==-1)&(g.annotation2==1)]['count'].values[0]
    d = g[(g.annotation1==-1)&(g.annotation2==-1)]['count'].values[0]
    E_a = (a+b)*(a+c)*1. / s
    E_b = (a+b)*(b+d)*1. / s
    E_c = (c+d)*(a+c)*1. / s
    E_d = (c+d)*(b+d)*1. / s
    return sum(map(lambda (o,e): ((o-e)**2) / e, [[a,E_a], [b,E_b], [c,E_c], [d,E_d]]))

In [67]:
truth = chi2(data)

In [68]:
results = []
for i in xrange(1000):
    data.annotation2 = np.random.permutation(data.annotation2)
    results.append(chi2(data))

In [69]:
len(results)

1000

In [70]:
sortedResults = sorted(results)

In [71]:
sortedResults[-10:]

[6.4806391227572346,
 6.4806391227572346,
 6.7364497607869795,
 6.8772121729611371,
 7.8483456599728152,
 8.5730733128004335,
 8.7317760324085523,
 8.8835940648014322,
 9.9829573874469872,
 10.136334447216313]

In [72]:
min(np.where(truth > sortedResults)[0])

0